.app {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  font-family: "pokefont";

  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

.top {
  justify-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-info {
  margin-right: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 2rem 0.5rem 2rem;

  img {
    width: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.4rem;
    border-radius: 50%;
  }

  .right {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem;

    .homelink {
      font-family: pokefont;
      color: rgb(226, 255, 255);
      padding: 0.4rem;

      &:hover {
        cursor: pointer;
        color: rgb(154, 230, 237);
      }
    }
  }
}
