.guesser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;

  .types {
    grid-area: types;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
  }

  .type {
    width: 6rem;
  }

  .type > img {
    width: 100%;
    height: 100%;
    transition: scale 0.1s;
  }

  .type.selected {
    box-shadow: 0 0rem 1.3rem 0.8rem rgba(255, 255, 255, 0.6);
  }

  .type > img:hover {
    scale: 1.1;
    cursor: pointer;
  }

  .poke-info {
    grid-area: poke-info;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .sprite {
    scale: 2;
    margin-bottom: 6rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 10rem;
    border: none;
    padding: 1rem;
    margin: 2rem;
    font-family: pokefont;
    font-size: 1rem;
    background-color: rgba(78, 149, 215);
    color: white;
    border-radius: 1rem;
    border: 0.4rem solid white;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
    transition: transform 0.1s, box-shadow 0.1s;
  }

  button:hover {
    transform: translateY(-0.2rem);
    cursor: pointer;
  }
}
