#root {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  font-family: "pokefont";

  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

.top {
  justify-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-info {
  margin-right: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 2rem 0.5rem 2rem;
}

.bottom img {
  width: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.4rem;
  border-radius: 50%;
}

.bottom .right {
  user-select: none;
  cursor: pointer;
  text-align: center;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  width: 2.2rem;
  height: 2.2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
