#root {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "pokefont";
}
