@font-face {
  font-family: "pokefont";
  src: url(./assets/PokemonGb-RAeo.ttf) format("truetype");
}

@font-face {
  font-family: "Pokemon Hollow";
  font-style: normal;
  font-weight: normal;
  src: local("Pokemon Hollow"),
    url("./assets/Pokemon Hollow.woff") format("woff");
}

@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("Pokemon Solid"), url("./assets/Pokemon Solid.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
